body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d35100;
    position: relative; /* Position relative for stacking context */
    z-index: 1; /* Ensure header is on top of other content */
}

header select {
    padding: 10px;
    font-size: 16px;
    background-color: #d35100;
    color: #ffffff;
}

button, select {
    padding: 10px;
    font-size: 16px;
    background-color: #d35100;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    width: 150px;
    height: 150px;
}

#activate-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#deactivate-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#left-joystick, #right-joystick {
    width: 150px;
    height: 150px;
    background-color: #d35100;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#left-joystick {
    left: 20px;
}

#right-joystick {
    right: 20px;
}

.joystick-inner {
    width: 75px;
    height: 75px;
    background-color: #f07900;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px; /* Adjusted to account for header height */
    bottom: 0;
    left: 170px; /* Adjust according to joystick width */
    right: 170px; /* Adjust according to joystick width */
    overflow: hidden;
    z-index: 0; /* Ensure image container is below the header */
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #left-joystick, #right-joystick {
        width: 100px;
        height: 100px;
    }

    #activate-btn, #deactivate-btn {
        width: 120px;
        height: 120px;
    }

    #image-container {
        left: 100px; /* Adjust according to joystick width */
        right: 100px; /* Adjust according to joystick width */
    }
}
