<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div>
            <label for="control-switch">Control-Mode: </label>
            <select id="control-switch">
                <option value="joystick">Touch-Joystick</option>
                <option value="controller">Controller</option>
            </select>
        </div>

        <div>
            <label for="topic-select">Cam:</label>
            <select id="topic-select">
                <option value="0">Front</option>
                <option value="1">Rear</option>
                <option value="2">Gripper</option>
                <option value="3">Thermal</option>
                <option value="4">Motion</option>
            </select>
        </div>
    </header>

    <div id="left-joystick">
        <div class="joystick-inner"></div>
    </div>

    <div id="right-joystick">
        <div class="joystick-inner"></div>
    </div>

    <div id="image-container">
        <img id="stream" src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>

    <button id="activate-btn">Enable</button>
    <button id="deactivate-btn">Disable</button>

    <script src="{{ url_for('static', filename='js/nipplejs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/joystick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
</body>
</html>
